@media screen and (max-width: 992px) {
.container{
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: "flex";
    justify-content: "center";
    text-decoration: "underline";
}
}