h1{
    font-display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: orangered;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    
}
.item{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #e14242;
    border-radius: 5px;
    padding: 10px;

}
@media screen and (max-width: 992px) {
    h1{
        font-display: block;
        font-size: 2.0rem;
        font-weight: bold;
        text-align: center;
        color: orangered;
        margin-top: 1rem;
        font-family: 'Roboto', sans-serif;
        
    }
    .item{
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        border: 1px solid #e14242;
        border-radius: 5px;
        padding: 10px;
       
    }
}